<% if logged_in? %>
<%= link_to "ログアウト", logout_path, method: :delete %>

<h1>タスク管理しようぜ！</h1>

<ul>
    <% @tasks .each do |task| %>
        <li><%= link_to task.id, task_path(task) %> : <%= task.content %>&gt;<%= task.status %></li>
    <% end %>
</ul>

<%= link_to "追加のタスクを入力",  new_task_path %>

<% else %>
    <h1>サインインしてタスクアプリを使おう！</h1>
    <%= link_to "アカウント作成", new_user_path %>
    <%= link_to "ログイン", login_path %>
<% end %>